.card{
    box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
}

.card-content{
    padding: 1.2rem 0.06rem;
}

img{
    width: 100%;
}

.super_hit{
    background: green;
}

.average{
    background: yellow;
    
}

.rating{
    padding: 0.3rem 1.8rem;
    color: #000;
    margin-left: 1.2rem;
    border-radius: 100rem;
}